TaskSchedule.Business.CloudHis/Web References/WebReference/NetHisWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="nethis_common_business">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="businessCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="businessInfo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="nethis_common_businessResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nethis_common_businessResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="nethis_common_businessSoapIn">
    <wsdl:part name="parameters" element="tns:nethis_common_business" />
  </wsdl:message>
  <wsdl:message name="nethis_common_businessSoapOut">
    <wsdl:part name="parameters" element="tns:nethis_common_businessResponse" />
  </wsdl:message>
  <wsdl:portType name="NetHisWebServiceSoap">
    <wsdl:operation name="nethis_common_business">
      <wsdl:input message="tns:nethis_common_businessSoapIn" />
      <wsdl:output message="tns:nethis_common_businessSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetHisWebServiceSoap" type="tns:NetHisWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="nethis_common_business">
      <soap:operation soapAction="http://tempuri.org/nethis_common_business" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetHisWebServiceSoap12" type="tns:NetHisWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="nethis_common_business">
      <soap12:operation soapAction="http://tempuri.org/nethis_common_business" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NetHisWebService">
    <wsdl:port name="NetHisWebServiceSoap" binding="tns:NetHisWebServiceSoap">
      <soap:address location="http://10.220.105.28/web/WebService/NetHisWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="NetHisWebServiceSoap12" binding="tns:NetHisWebServiceSoap12">
      <soap12:address location="http://10.220.105.28/web/WebService/NetHisWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>